BILLIONS_ATTESTATIONS_API_URL="https://attestations-api-testnet.billions.network/api/v1"
BILLIONS_TESTNET_RPC_URL="https://billions-testnet-rpc.eu-north-2.gateway.fm"
CHAIN_ID="6913"
RHS_URL="https://rhs-staging.polygonid.me"
CIRCUITS_PATH="../circuits"

STATE_CONTRACT_ADDRESS="0x3C9acB2205Aa72A05F6D77d708b5Cf85FCa3a896"
ATTESTATION_REGISTRY_CONTRACT_ADDRESS="0x6dd6Ad465E93bcb345010ECEf3cFC9144e87b6cC"
SCHEMA_REGISTRY_CONTRACT_ADDRESS="0x3ADee532C2018b3fa66B2B4384d11959830a7E6F"
IDENTITY_VERIFIER_CONTRACT_ADDRESS="0x3a05EAe03a85A141BE0F5b5049e85c6616379861"
REVIEW_ATTESTATION_SCHEMA="0x3ff27d25d9a49e12c43465525fb4da6fa572edc013d23caa1ce96f3d8b649442"
OWNERSHIP_ATTESTATION_SCHEMA="0xca354bee6dc5eded165461d15ccb13aceb6f77ebbb1fd3fe45aca686097f2911"

PRIVATE_KEY=
